<h1>Create a New Event</h1>

<%= form_for @event do |form| %>

  <p class="control">
    <%= form.label :title %>:
    <%= form.text_field :title %>
  </p>

  <p class="control">
    <%= form.label :address %>:
    <%= form.text_field :address %>
  </p>

  <p class="control">
    <%= form.label :description %>:
    <%= form.text_field :description %>
  </p>

  <p class="control">
    Time of Event
    <%= form.datetime_local_field :scheduled_at %>
  </p>

  <%= form.submit 'Create an Event', class: 'btn' %>
<% end %>
