<section class="user-info event-page content">
  <header class="event-header">
    &nbsp;
  </header>

  <article class="event-content container">
    <section class="columns">
      <div class="user-info column is-one-quarter">
        <%= image_tag @event.user.photo.url(:thumb), class: 'avatar image is-128x128' %>
        <span class="user-name"> <%=link_to @event.user.name, user_path(@event.user_id) %></span>
      </div>

      <div class="column">
        <h1><%= @event.title %></h1>
        <div class="columns">
          <div class="column is-one-third">
            <i class="fa fa-calendar" aria-hidden="true"></i> Date
            <p><%= @event.scheduled_at.strftime("%d %b. %Y") %></p>
          </div>
          <div class="column">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Time
            <p><%= @event.scheduled_at.strftime("%I:%M %P") %></p>
          </div>
          <div class="column">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Address
            <p><%= @event.address %></p>
          </div>
        </div>
      </div>
    </section>

    <section class="columns">
      <div class="column">
        <h3>About this event</h3>
        <p><%= @event.description %></p>

        <p>
          <strong>Event Created At:</strong>
          <%= @event.created_at.strftime("%d %b. %Y") %>
        </p>

        <p>
          <strong>Karma Member Since:</strong>
          <%= @event.user.created_at.strftime("%d %b. %Y") %>
        </p>

        <% if current_user && @event.user != current_user %>

        <% if !@event.users.include?(current_user) %>
          <%= form_for(@event, url: :accept_event, method: :post) do |form| %>
            <button type="submit">Accept</button>
          <% end %>
        <% else %>
          <p> <%= current_user.name %>, you are now registered for <%= @event.user.name %>'s event. </p>
          <p> <%= @event.user.name %>'s contact info: <%= @event.user.email %> </p>
        <% end %>

        <%end%>

        <p>
          Attendees:
          <% @event.users.each do |x| %>
            <%= link_to x.name, user_path(x.id) %>
          <%end%>
        </p>
      </div>
    </section>
  </article>
