<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date and Time:</strong>
  <%= @event.scheduled_at %>
</p>

<p>
  <strong>Event Creator:</strong>
  <%= @event.user.name %> </p>
<p>
  <strong>Email:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @event.user.photo.url(:thumb) %>
</p>
