
<section class="user-info">
  <h1>Host Info</h1>
  <p>
    <strong>Name:</strong>
    <%= @event.user.name %>
  </p>

  <p>
    <%= image_tag @event.user.photo.url(:thumb) %>
  </p>

  <p>
    <strong>Karma Member Since:</strong>
    <%= @event.user.created_at.strftime("%d %b. %Y") %>
  </p>
  <p>
    <strong>About <%= @event.user.name %>:</strong>
    <%= @event.user.description %>
  </p>

  <p>
    <strong>View <%=link_to @event.user.name, user_path %>'s Profile Page</strong>
  </p>
</section>

<section class="event-info">
  <h1>Event Info</h1>
  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= @event.scheduled_at.strftime("%d %b. %Y") %>
  </p>
  <p>
    <strong>Time:</strong>
    <%= @event.scheduled_at.strftime("%I:%M %P") %>
  </p>
  <p>
    <strong>Destination:</strong>
    <%= @event.address %>
  </p>
  <p>
    <strong>Post Created At:</strong>
    <%= @event.created_at.strftime("%d %b. %Y") %>
  </p>
</section>
<% if current_user && !current_user.accepted_event?(@event.id) %>
  <%= form_for(@event, url: :accept_event, method: :post) do |form| %>
    <button type="submit">Accept</button>
  <% end %>
<% else %>
  <p> <%= current_user.name %>, you are now registered for <%= @event.user.name %>'s event. </p>
  <p> <%= @event.user.name %>'s contact info: <%= @event.user.email %> </p>
<% end %>
<p>
  Attendees: <%= link_to @event.users.pluck(:name).join(', '), user_path %>
</p>



