<section class="room">
  <div class="content">
    <h1 class="room-top">
      Dear <%= current_user.name %>, you sent out the following help requests. Feel free to chat with people who would like to chat with you!
    </h1>
    <ul>
      <% @events.each do |e| %>
        <% if current_user.id == e.user.id && @rooms.find_by(event_id: e.id) %>
          <li>
            <%= link_to room_path(@rooms.find_by(event_id: e.id).id) do %>
              You have requested help: <%= e.title %>.
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <h1 class="room-top">
      Also, thank you for your contribution, you helped the following events!
    </h1>
    <ul>
      <% @help_lists.each do |h| %>
        <% if current_user.id == h.user_id && @rooms.find_by(event_id: h.event_id) %>
          <li>
            <%= link_to(room_path(@rooms.find_by(event_id: h.event_id).id)) do %>
              You have helped: <%= @events.find(h.event_id).title %>.
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
