<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      Karma
    </a>
  </div>
  <div class="nav-right nav-menu">
    <% if not current_user %>
      <a class="nav-item modal-button" data-target="#modal-ter">Signup</a>
    <% end %>

    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <a class="nav-item">Login</a>
    <% end %>
  </div>
</nav>

<div id="modal-ter" class="modal">
  <div class="modal-background"></div>
  <%= form_for :user, url: '/users' do |f| %>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create an Account</p>
      </header>
      <section class="modal-card-body">
        <div class="form-group">
          <label class="label">Name:<sup class="required">*</sup></label>
          <p class="control has-icon">
            <%= f.text_field :name, class: 'input', placeholder: 'John Smith'  %>
            <span class="icon is-small">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div class="form-group">
          <label class="label">Email:<sup class="required">*</sup></label>
          <p class="control has-icon">
            <%= f.text_field :email, class: 'input', placeholder: 'example@email.com' %>
            <span class="icon is-small">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="form-group">
          <label class="label has-icon">Description:</label>
          <p class="control">
            <%= f.text_area :description, class: 'textarea', placeholder: 'Please write a couple words about you' %>
          </p>
        </div>
        <div class="form-group">
          <label class="label">Phone number:</label>
          <p class="control has-icon">
            <%= f.telephone_field :phone_number, class: 'input', placeholder: '+1 (123) 456 7890' %>
            <span class="icon is-small">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div class="form-group">
          <label class="label">Date of birth:</label>
          <p class="control has-icon">
            <%= f.date_field :DoB, class: 'input'  %>
            <span class="icon is-small">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div class="form-group">
          <label class="label">Avatar:</label>
          <p class="control">
            <%= f.file_field :picture %>
          </p>
        </div>
        <div class="form-group">
          <label class="label">Password:<sup class="required">*</sup></label>
          <p class="control has-icon">
            <%= f.password_field :password, class: 'input', placeholder: '*******' %>
            <span class="icon is-small">
              <i class="fa fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="form-group">
          <label class="label">Password confirmation:<sup class="required">*</sup></label>
          <p class="control has-icon">
            <%= f.password_field :password_confirmation, class: 'input', placeholder: '*******' %>
            <span class="icon is-small">
              <i class="fa fa-lock"></i>
            </span>
          </p>
        </div>
        <div>
          <sup class="required">*</sup> Required fields
        </div>
      </section>
      <footer class="modal-card-foot">
        <%= f.submit "Create Account", class: 'button is-success' %>
        <a class="button">Cancel</a>
      </footer>
    </div>
  <% end %>
</div>
