<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      Karma
    </a>
  </div>


  <div class="nav-right nav-menu">
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <a class="nav-item">
        Login
      </a>
      <div>
        <%= form_tag '/login' do %>

          Email: <%= text_field_tag :email %>
          Password: <%= password_field_tag :password %>
          <%= submit_tag "Submit" %>

        <% end %>
      </div>
      |
      <a class="nav-item">
        Signup
      </a>
      <div>
        <%= form_for :user, url: '/users' do |f| %>

          Image: <%= f.text_field :image %>
          Name: <%= f.text_field :name %>
          Email: <%= f.text_field :email %>
          Description: <%= f.text_area :description %>
          Phone number: <%= f.text_field :phone_number %>
          Date of birth: <%= f.text_field :DoB %>
          Password: <%= f.password_field :password %>
          Password Confirmation: <%= f.password_field :password_confirmation %>
          <%= f.submit "Submit" %>

        <% end %>
      </div>
    <% end %>
  </div>
</nav>
