<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      Karma
    </a>
    <% if not current_user %>
      <a class="nav-item">
        Signup
      </a>
      <div>
        <%= form_for :user, url: '/users', html: { multipart: true } do |f| %>
          <ul>
              <li>Image: <%= f.file_field :photo %> </li>
              <li>Name: <%= f.text_field :name %></li>
              <li>Email: <%= f.text_field :email %></li>
              <li>Description: <%= f.text_area :description %></li>
              <li>Phone number: <%= f.telephone_field :phone_number %></li>
              <li>Date of birth: <%= f.date_field :DoB %></li>
              <li>Password: <%= f.password_field :password %></li>
              <li>Password Confirmation: <%= f.password_field :password_confirmation %></li>
              <li><%= f.submit "Submit" %></li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="nav-right nav-menu">
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <a class="nav-item">
        Login
      </a>
      <div>
        <%= form_tag '/login' do %>

          Email: <%= text_field_tag :email %>
          Password: <%= password_field_tag :password %>
          <%= submit_tag "Submit" %>

        <% end %>
      </div>
      |

    <% end %>
  </div>
</nav>
