<!DOCTYPE html>
<html>
  <head>
    <title>HelperCommunity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://use.fontawesome.com/6a1ef489aa.js"></script>
     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1Boy-A_UgLPNoOY7kOuj-6Yju4cEJCE">
    </script>

    <%= yield(:header) %>
  </head>

  <body>

    <%= render 'layouts/top_nav' %>

  <main>
    <%= yield %>
    <%= react_component("NewEvent") %>
  </main>

  </body>
</html>
