<!DOCTYPE html>
<html>
  <head>
    <title>HelperCommunity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="https://use.fontawesome.com/6a1ef489aa.js"></script>

    <%= yield(:header) %>
  </head>

  <body>

    <%= render 'layouts/top_nav' %>

  <main>
    <%= yield %>
  </main>
  <footer class="footer">
    <%= render 'layouts/footer' %>
  </footer>

  </body>
</html>
